@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP');


@font-face
{
font-family: ロゴたいぷゴシック;
src: url('https://cdn.leafscape.be/logotype/logotype_web.woff2')
     format("woff2");
}


body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #272727;
    line-height: 1.4;
    font-family: 'Noto Sans JP','Noto Serif JP','ロゴたいぷゴシック',sans-serif;
}

ul{
  list-style-type: none;
}

a,
a:visited {
    color: #272727;
    text-decoration: none;
    outline: none;
}

a:hover {
  text-decoration: underline;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


/*----- page -----*/
#page {
  margin: 0 auto;
  text-align: center;
}


/* ------ header ------ */

#pageHead {
  letter-spacing: 0.4pt;
  font-size: 12px;
}


/*localNavi*/
#localNaviDetail {
  width: 100%;
  background-color: #f7f7f7;
  height: 32px;
}

#pageHead section {
  padding: 0 10px;
  max-width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
}

#localNavi:after {
  content: "";
  display: block;
  clear: both;
}

#localNavi h2 {
  font-size: 12px;
  font-weight: normal;
}

#localNavi #navTitle {
  float: left;
  font-weight: bold;
  padding: 8px 0 3px 0;
  margin: 0;
}

#localNavi ul {
  float: right;
  margin: 0;
  padding: 0;
}

#localNavi ul a {
  color: #676767;
}

#localNavi ul a:hover {
  color: #676767;
}

#localNavi ul:after {
  content: "";
  display: block;
  clear: both;
}

#localNavi ul li {
  float: left;
  border-left: solid 1px #676767;
  margin-top: 8px;
  margin-bottom: 3px;
}

#localNavi ul li a {
  padding: 0 15px;
}

#localNavi ul li:first-child,
#localNavi ul li:last-child {
  border: none;
}

#localNavi ul li.navLogin {
  margin: 0;
  padding: 0;
}

#localNavi ul li.navLogin img {
  margin: 0 5px 4px 0;
  vertical-align: middle;
}

#localNavi ul li.navLogin a {
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 5px 10px 3px 10px;
  background-color: #d9d9d9;
  color: #000066;
}

#localNavi ul li.navLogin a:hover {
  color: #000066;
}


/*-- headMenu --*/
/*headmenu-top*/
#headMenuTop {
  padding: 20px 0;
}

#headMenuTop:after {
  content: "";
  display: block;
  clear: both;
}

#headMenuTitle {
  float: left;
}

#headMenuTitle h1 {
  padding: 0;
  margin: 0;
}

#headMenuRight {
  margin: -4px 0 12px;
  width: 350px;
  float: right;
}

#headMenuRight:after {
  content: "";
  display: block;
  clear: both;
}

#headRightTel {
  padding-right: 10px;
  float: left;
}

#headRightTel img {
  margin-bottom: 4px;
}

#headRightTel p {
  color: #8d959c;
  font-size: 11px;
  padding-left: 31px;
  margin: 0;
}

#headRightSns {
  float: left;
}

#headRightSns:after {
  content: "";
  display: block;
  clear: both;
}

#headRightSns {
  padding-top: 2px;
}

#headRightSns a {
  margin-left: 8px;
  display: block;
  float: left;
}

#headRightSns a:first-child {
  margin: 0;
}


/*headmenu-bottom*/

#headMenuBottom {
  margin-bottom: 16px;
}

#headMenuBottom:after {
  content: "";
  display: block;
  clear: both;
}

#headMenuBottom ul {
  padding: 0;
  margin: 0;
  float: right;
}

#headMenuBottom ul.contact:after {
  content: "";
  display: block;
  clear: both;
}

#headMenuBottom ul.contact li {
  text-align: center;
  padding-left: 10px;
  width: 170px;
  background-image: url(../../img/icon_arrow01_right_blue01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 48%;
  float: left;
}

#headMenuBottom ul.contact li:first-child {
  padding: 0;
}

#headMenuBottom ul.contact li a {
  font-size: 15px;
  font-weight: bold;
  display: block;
  color: #1f286f;
  margin: 0;
  padding: 9px 10px 8px;
  border: solid 1px #000066;
}

#headMenuBottom ul.contact li a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1f286f;
  background-image: url(../../img/icon_arrow01_right_white01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 48%;
}

#globalNavi {
  margin-top: 5px;
  font-size: 15px;
  float: left;
}

#globalNavi ul {
  padding: 0;
  margin: 0;
}

#globalNavi ul:after {
  content: "";
  display: block;
  clear: both;
}

#globalNavi ul li {
  width: 158px;
  vertical-align: top;
  border-left: solid 1px #dcdddd;
  float: left;
}

#globalNavi ul li a {
  display: block;
  height: 31px;
}

#globalNavi ul li:last-child {
  border-right: solid 1px #dcdddd;
}

#globalNavi ul li span {
  text-align: left;
  margin: 3px auto 0;
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  }

#globalNavi ul li span.aboutschool {
  width: 74px;
  height: 10px;
  background-size: 74px 20px;
  background-image: url(../../img/global_nav_btn01_01.png);
}

#globalNavi ul li span.netcourse {
  width: 62px;
  height: 10px;
  background-size: 62px 20px;
  background-image: url(../../img/global_nav_btn01_02.png);
}

#globalNavi ul li span.commutcourse {
  width: 96px;
  height: 10px;
  background-size: 96px 20px;
  background-image: url(../../img/global_nav_btn01_03.png);
}

#globalNavi ul li span.allianceschool {
  width: 90px;
  height: 10px;
  background-size: 90px 20px;
  background-image: url(../../img/global_nav_btn01_04.png);
}

#globalNavi ul a:hover {
  text-decoration: none;
}

#globalNavi ul li a:hover  span {
  background-position: 0 -10px;
}


/* 上部固定グローバルナビ */

#page #globalNaviScroll {
   /* ▼上端に固定するCSS */
   position: fixed;
   top: 0px;
   left: 0px;
  /*------------------*/
    width: 100%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.90);

    /*一番上の階層に表示*/
    z-index: 1;
}

#page #globalNaviScroll .scrollDetail {
  max-width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
}

#globalNaviScroll .scrollDetail:after {
  content: "";
  display: block;
  clear: both;
}

#globalNaviScroll .scrollDetail .scrollTitle {
  float: left;
  margin-top: 2px;
}

#globalNaviScroll .scrollDetail .scrollRight {
  margin: 0 0 0 auto;
  float: right;
}

#globalNaviScroll .scrollDetail .scrollTel {
  float: left;
  vertical-align: middle;
}

#globalNaviScroll .scrollDetail .scrollTel:after {
  content: "";
  display: block;
  clear: both;
}

#globalNaviScroll .scrollDetail .scrollTel img {
  margin: auto 0;
  padding: 5.742px 10px 0 0;
  height: auto;
  vertical-align: bottom;
  float: left;
}

#globalNaviScroll .scrollDetail .scrollTel p {
  font-size: 11px;
  color: #8d959c;
  margin: 0;
  padding-top: 3px;
  float: right;
}

#globalNaviScroll .scrollDetail .scrollContact {
  float: left;
}

#globalNaviScroll .scrollDetail .scrollContact:after {
  content: "";
  display: block;
  clear: both;
}

#globalNaviScroll .scrollDetail .scrollContact p {
  text-align: center;
  margin: 0;
  padding-left: 10px;
  width: 170px;
  background-image: url(../../img/icon_arrow01_right_blue01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 48%;
  float: left;
}

#globalNaviScroll .scrollDetail .scrollContact p a {
  font-size: 15px;
  font-weight: bold;
  display: block;
  color: #1f286f;
  margin: 0;
  padding: 9px 10px 8px;
  border: solid 1px #000066;
}

#globalNaviScroll .scrollDetail .scrollContact p a:hover {
  color: #FFFFFF;
  background-color: #1f286f;
  background-image: url(../../img/icon_arrow01_right_white01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 48%;
}



/* ----- pagebody ----- */

#pageBody {
  padding-bottom: 30px;
}


/* mainVisual */
#mainVisual {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}


/* subVisual */

#subVisual {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  line-height: 1.8;
  letter-spacing: 0.6px;
}

#subVisual:after {
  content: "";
  display: block;
  clear: both;
}

#subVisual .subItem {
  width: 23.8%;
  height: 180px;
  margin: 0 1.6% 0 0;
  background-image: url(../../img/home_contents_info01_01.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  float: left;
  position: relative;
}



#subVisual .subItem:nth-of-type(2) {
  background-image: url(../../img/home_contents_info01_06.jpg);
}

#subVisual .subItem:nth-of-type(3) {
  background-image: url(../../img/home_contents_info01_08.jpg);
}

#subVisual .subItem:nth-of-type(4) {
  margin: 0;
  background-image: url(../../img/home_contents_info01_05.jpg);
}


#subVisual .subItemH3 {
  height: 130px;
}

#subVisual .subItem h3 {
  background-color: #ffffff;
  color: #1f286f;
  font-size: 14px;
  font-weight: normal;
  padding: 5px 8px;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#subVisual .subItem p {
  color: #ffffff;
  width: 100%;
  font-size: 13px;
  margin: 0  0 5px;
  text-align: center;
}

#subVisual .subItem .readMoreImg {
  padding: 6px 1px 0 0;
  margin: 0;
  height: 16px;
  width: 100%;
  background-color: #ffffff;
  text-align: right;
  background-image: url(../../img/icon_arrow01_right_black01.png);
  background-repeat: no-repeat;
  background-position:  right 71.19px top 50%;
  background-size: 4px 7px;
}

#subVisual .subItem .readMoreImg img {
  height: 11px;
  display: block;
  margin-left: auto;
}

#subVisual .subItem a {
  display: block;
  height: 100%;
}

#subVisual .subItem a:hover {
  background: rgba(255,255,255,0.5);
  text-decoration: none;
}


/* massage */
#pageBodyMain .massage {
  margin-top: 50px;
}

#pageBodyMain .massage p {
  margin:0;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.6px;
  text-align: center;
}

#pageBodyMain .massage p:last-child {
  margin-bottom: 20px;
}

/*----- フッター -----*/
#pageFoot {
  background-color: rgb(248, 248, 248);
}

#pageFoot .footDetail {
  position: relative;
  max-width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 60px 10px 0;
  font-size: 0;
}

#pageFoot .footDetail .pageTop {
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 88%;
  top: 35px;
}

#pageFoot .footDetail .pageTop:hover {
  opacity: 0.7;
}


/*footNav*/
#pageFoot .footNav {
  margin-bottom: 70px;
}

#pageFoot .footNav ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

#pageFoot .footNav ul:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footNav ul li {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.0;
  border-left: solid 1px #000066;
  margin: 0 0 0 12px;
  padding: 0 0 1px 12px;
  float: left;
}

#pageFoot .footNav ul li:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

#pageFoot .footNav ul li a {
  color: #000066;
  padding: 0;
}

/*footMenu*/
#pageFoot .footMenu {
  margin-bottom: 40px;
}

#pageFoot .footMenu:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footMenu section {
  text-align: left;
  width: 18.46%;
  margin: 0 1.923% 0 0;
  float: left;
}

#pageFoot .footMenu section .margin-22 {
  margin-top: -22px;
}

#pageFoot .footMenu section:last-child {
  margin: 0;
}

#pageFoot .footMenu section h4 {
  margin: 0 0 10px ;
  font-size: 16px;
}

#pageFoot .footMenu section h4 a {
  color: #000066;
  letter-spacing: 0.4pt;
  margin: 0;
  padding: 0;
}

#pageFoot .footMenu section h4 span {
  font-size: 11px;
}

#pageFoot .footMenu section ul {
  margin: 0;
  padding: 0;
}

#pageFoot .footMenu section ul li {
  margin-bottom: 10px;
}

#pageFoot .footMenu section ul li a {
  letter-spacing: 0.4pt;
  padding: 0;
  font-size: 14px;
}

#pageFoot .footMenu section ul.menuBorder {
  margin-top: 18px;
  padding-top: 22px;
  border-top: solid 1px #c9c9c9;
}

/* footLink */
#pageFoot .footLinkDetail {
  padding: 20px 0px 25px 0;
  margin: 0;
  border-top:  solid 1px #c9c9c9;
}

#pageFoot .footLinkDetail .footLink {
  padding:  0;
}

#pageFoot .footLinkDetail .footLink:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footLinkDetail .footLink ul.link {
  padding: 15px 0;
  margin: 0;
  float: left;
}

#pageFoot .footLinkDetail .footLink ul:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footLinkDetail .footLink ul li {
  margin-right: 10px;
  padding: 0;
  float: left;
}

#pageFoot .footLinkDetail .footLink ul li:last-child {
  margin: 0;
}

#pageFoot .footLinkDetail .footLink ul li a {
  font-size: 14px;
}

#pageFoot .footLinkDetail .footLink ul.footSns {
  margin: 0;
  float: right;
}

#pageFoot .footLinkDetail .footLink ul.footSns:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footLinkDetail .footLink ul.footSns li {
  border-right: solid 1px rgb(221, 221, 221);
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  width: 155px;
  float: left;
  position: relative;
}

#pageFoot .footLinkDetail .footLink ul.footSns li:last-child {
  border-right: none;
}

#pageFoot .footLinkDetail .footLink ul.footSns li:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footLinkDetail .footLink ul.footSns li a {
  font-size: 12px;
  box-sizing: border-box;
}

#pageFoot .footLinkDetail .footLink ul.footSns li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#pageFoot .footLinkDetail .footLink ul.footSns .width190 {
  box-sizing: border-box;
  width: 190px;
}

#pageFoot .footLinkDetail .footLink ul.footSns li a:after {
  position: absolute;
  content: "＞";
  font-size: 10px;
  right: 7px;
  top: 16px;
  color: #aaa;
}

#pageFoot .footLinkDetail .footLink ul.footSns li img {
  vertical-align: bottom;
  padding-right: 5px;
  float: left;
}

#pageFoot .footLinkDetail .footLink ul.footSns li p {
  padding: 0;
  margin: 0;
  text-align: left;
  float: left;
}


/*news*/

#pageFoot .news {
  position: relative;
  max-width: 1060px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-top:  solid 1px #c9c9c9;
  text-align: left;
}

#pageFoot .blog {
  position: relative;
  text-align: left;
}

#pageFoot h4 span {
  margin-left:4px;
  font-size: 12px;
  font-weight: normal;
  color: inherit;
}

#pageFoot h4 span img {
  height: 11px;
  margin-left: 4px;
  vertical-align: middle;
}

#pageFoot .blog h4 span img {
  height: 14px;
}

#pageFoot .news h4,
#pageFoot .blog h4 {
  margin: 0 0 35px;
  padding: 30px 0 0;
  color: #000066;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.25em;
}

#pageFoot .btn {
  position: absolute;
  right: 0;
  top: 25px;
  width: 145px;
  font-size: 14px;
  margin:0;
}

#pageFoot .btn a {
  text-align: center;
  color: #1f286f;
  display: block;
  padding: 9px 10px 8px;
  border: solid 1px #000066;
  background-image: url(../../img/icon_arrow01_right_blue01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 50%;
}

#pageFoot .btn a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #1f286f;
  background-image: url(../../img/icon_arrow01_right_white01.png);
  background-repeat: no-repeat;
  background-size: 5px 9px;
  background-position: right 11px bottom 50%;
}

#pageFoot .news .newsItem ul,
#pageFoot .blog .blogItem ul {
  margin: 0;
  padding: 0;
}

#pageFoot .news .newsItem ul:after,
#pageFoot .blog .blogItem ul:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .news .newsItem ul li,
#pageFoot .blog .blogItem ul li {
  padding: 0;
  margin: 0;
  width: 47.5%;
  margin: 0 5% 10px 0;
  border-bottom: dashed 1px #c6c6c6;
  float: left;
}

#pageFoot .news .newsItem ul li:nth-of-type(2),
#pageFoot .blog .blogItem ul li:nth-of-type(2) {
  margin-right: 0;
}

#pageFoot .news ul li p,
#pageFoot .blog ul li p {
  padding: 0;
  margin: 0 0 8px;
}

#pageFoot ul li time {

  color: #727272;
  font-size: 12px;
}

#pageFoot ul li a {
  padding-bottom: 5px;
  font-size: 16px;
  letter-spacing: 0.4pt;
  display: block;
}

#pageFoot ul li p span {
  font-size: 12px;
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 3px 8px;
  border-radius: 5px;
  background: #1f286f;
  color: #ffffff;
}


/* footMassage */

#pageFoot .footMassage {
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.03);
  text-align: left;
  border: solid 1px rgb(232, 232, 232);
}

#pageFoot .footMassage h5 {
  margin: 0 0 5px 0;
  padding: 0;
  color: #777;
  font-size: 12px;
}

#pageFoot .footMassage p {
  color: #888888;
  font-size: 10px;
  text-align: justify;
}


/* footSmall */

#pageFoot .footSmall {
  width: 100%;
  background-color: #1a1a1a;
  color: #999999;
  font-size: 11px;
  margin-top: 30px;
}

#pageFoot .footSmallDetail {
  max-width: 1060px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 18px 10px 16px;
}

#pageFoot .footSmallDetail:after {
  content: "";
  display: block;
  clear: both;
}

#pageFoot .footSmallDetail p {
  margin: 0;
  padding: 0;
}

#pageFoot .footSmallDetail p:first-of-type {
  float: left;
}

#pageFoot .footSmallDetail p:first-of-type a {
  color: #999999;
}

#pageFoot .footSmallDetail p:last-of-type {
  float: right;
  font-size: 13px;
}

#pageFoot .footSmallDetail p:last-of-type span:first-of-type {
  font-size: 190%;
}

#pageFoot .footSmallDetail p:last-of-type span:last-of-type {
  vertical-align: super;
}
