body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    color: #272727;
    font-size: 16px;
    font-size: 1.6rem;
    letter-spacing: 0.4pt;
    line-height: 1.4;
}

ul{
  list-style-type: none;
}

a,
a:visited {
    color: #272727;
    text-decoration: none;
    outline: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}


/* ヘッダー */


/* 上部固定グローバルナビ */

/* グローバルナビ */


/* ページボディ */


/* メインビジュアル */
#pageBody .pageBodyMain .mainVisual {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* サブビジュアル */
#pageBody .pageBodyMain .subVisual {
  width: 49%;
  margin: 0 2% 20px 0;
}

/* フッター */
